<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="radar-front_module">

  <!-- 
    传感器模块的XACRO宏定义
    使用 radar-front-rf.obj 模型
    参数说明：
    - suffix     : 后缀，例如 "_front"
    - parent_link: 父链接名称
    - xyz        : 相对于父链接的安装位置 (默认 "0 0 0")
    - rpy        : 相对于父链接的安装旋转 (默认 "0 0 0")
    - mesh_scale : OBJ 网格缩放比例 (默认 "0.001 0.001 0.001")
  -->
  <xacro:macro name="radar-front" 
               params="suffix parent_link 
                       xyz:='0 0 0' 
                       rpy:='0 0 0'
                       mesh_scale:='0.001 0.001 0.001'">

    <!-- 传感器连杆 -->
    <link name="radar-front_${suffix}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot/meshes/radar-front-rf.obj"
                scale="${mesh_scale}"/>
        </geometry>
        <!-- 灰色 -->
        <xacro:get_material_by_name material_name="pla_gray_light"/>
      </visual>
      
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot/meshes/radar-front-rf.obj"
                scale="${mesh_scale}"/>
        </geometry>
      </collision>
      
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.02"/>  <!-- 假设20克 -->
        <inertia ixx="1e-6" ixy="0.0" ixz="0.0"
                 iyy="1e-6" iyz="0.0"
                 izz="1e-6"/>
      </inertial>

      <sensor name="ultrasonic_${suffix}" type="ultrasonic">
        <!-- 绑定超声波自身的连杆 -->
        <parent_link name="radar-front_${suffix}"/>
        <!-- 数据刷新频率（HC-SR04标准频率） -->
        <update_rate>10</update_rate>
        <!-- 超声波探测锥形区域 -->
        <ray>
          <!-- 水平视场角：HC-SR04 是 ±15°（总30°锥形） -->
          <horizontal samples="1" min_angle="-0.2618" max_angle="0.2618"/>
          <!-- 垂直视场角：和水平一致（超声波是圆锥探测） -->
          <vertical samples="1" min_angle="-0.2618" max_angle="0.2618"/>
        </ray>
        <!-- HC-SR04 真实测距范围（核心！） -->
        <range>
          <min>0.02</min>    <!-- 最小测2厘米 -->
          <max>4.0</max>     <!-- 最大测4米 -->
          <resolution>0.01</resolution> <!-- 精度1厘米 -->
        </range>
      </sensor>
    </link>
    
    <!-- 固定关节连接到父链接 -->
    <joint name="radar-front_${parent_link}_joint_${suffix}" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent_link}"/>
      <child link="radar-front_${suffix}"/>
    </joint>

  </xacro:macro>

</robot>