<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
    双目摄像头 OBJ 与 head_pitch_link 使用相同的装配坐标原点。
    网格镜头中心为 x=±30.5 mm、y=-16.5 mm、z=46.8 mm，孔距为 61 mm。
    optical frame 继续使用 USB Camera 01.00.00 标定得到的精确基线。
  -->
  <xacro:macro name="stereo_camera"
               params="parent_link
                       xyz:='0 0 0'
                       rpy:='0 0 0'
                       baseline:=0.061145213
                       mesh_scale:='0.001 0.001 0.001'
                       lens_y:=-0.0165
                       lens_z:=0.0468">
    <link name="stereo_camera_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot/meshes/stereo_camera.obj"
                scale="${mesh_scale}"/>
        </geometry>
        <xacro:get_material_by_name material_name="pla_gray_light"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robot/meshes/stereo_camera.obj"
                scale="${mesh_scale}"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 -0.0085 0.0468" rpy="0 0 0"/>
        <mass value="0.08"/>
        <inertia ixx="0.000015" ixy="0.0" ixz="0.0"
                 iyy="0.000045" iyz="0.0" izz="0.000050"/>
      </inertial>
    </link>

    <joint name="stereo_camera_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="stereo_camera_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <!-- 头部局部 +X 为车体左侧，两个镜头沿 X 轴排列并朝向车头 -Y。 -->
    <link name="stereo_left_camera_frame"/>
    <joint name="stereo_left_camera_joint" type="fixed">
      <parent link="stereo_camera_link"/>
      <child link="stereo_left_camera_frame"/>
      <origin xyz="${baseline / 2.0} ${lens_y} ${lens_z}"
              rpy="0 0 ${-pi / 2.0}"/>
    </joint>
    <link name="stereo_left_optical_frame"/>
    <joint name="stereo_left_optical_joint" type="fixed">
      <parent link="stereo_left_camera_frame"/>
      <child link="stereo_left_optical_frame"/>
      <origin xyz="0 0 0" rpy="${-pi / 2.0} 0 ${-pi / 2.0}"/>
    </joint>

    <link name="stereo_right_camera_frame"/>
    <joint name="stereo_right_camera_joint" type="fixed">
      <parent link="stereo_camera_link"/>
      <child link="stereo_right_camera_frame"/>
      <origin xyz="${-baseline / 2.0} ${lens_y} ${lens_z}"
              rpy="0 0 ${-pi / 2.0}"/>
    </joint>
    <link name="stereo_right_optical_frame"/>
    <joint name="stereo_right_optical_joint" type="fixed">
      <parent link="stereo_right_camera_frame"/>
      <child link="stereo_right_optical_frame"/>
      <origin xyz="0 0 0" rpy="${-pi / 2.0} 0 ${-pi / 2.0}"/>
    </joint>
  </xacro:macro>
</robot>
